
.all__employees {
    display: flex;
   text-align: center;
}

.employee__value {
    width: 700px;
}

.totall__text {
    font-family: 'Exo 2', sans-serif;
    font-style:italic;
    font-size: 22px;
    font-weight: 600;
}