.list__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}

.search {
  display: flex;
  align-items: center;
  margin-top: 10px;
}